@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

body {
  margin: 0;
}

.container {
  font-family: 'Lato';
  display: flex;
  flex-direction: column;
}

/* -- NAVBAR STYLES -- */

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 1px solid #b3b7ee;
}

.mainHeader {
  display: flex;
  height: 2.7rem;
  justify-content: space-between; 
  outline: 1px solid #d7d8ff;
}

.appHeading {
  position: relative;
  left: .5rem;
  /* outline: 1px solid black; */
  color: #b3b7ee;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.searchBtnClsd {
  position: relative;
  right: .6rem;
  top: 1rem;
  font-size: 20px;
  /* outline: 1px solid black; */
  color: #b3b7ee;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.searchBtnClsd:active {
  background: #d7d8f7;
  transition: .6s ease-in;
}

.searchbarCntr {
  position: relative;
  top: 1.05rem;
  right: .6rem;
  height: 1.4rem;
  outline: 1px solid #d7d8f7;
  border-radius: 10px;
  overflow: hidden;
}

.searchbar {
  position: relative;
  bottom: 10px;
  left: 4px;
  outline: none;
  border: none;
}

.searchbar:active {
  outline: none;
  border: none;
}

.searchBtn {
  position: relative;
  bottom: 2px;
  /* right: 1px; */
  outline: 1px solid #d7d8f7;
  color: #b3b7ee;
  font-size: 20px;
  padding: 3px 5px 3px 3px;
  cursor: pointer;
}

.searchBtn:hover {
  background: #d7d8f7;
}

.createRecipeBtn {
  position: relative;
  color: #b3b7ee;
  font-weight: 600;
  text-align: center;
  padding: 1px;
  letter-spacing: 2px;
  cursor: pointer;
}

.backBtn {
  position: relative;
  color: #b3b7ee;
  font-weight: 600;
  text-align: center;
  padding: 1px;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 0px -1px 1px #b3b7ee;
}

.createRecipeBtn:hover, .backBtn:hover {
  text-decoration: underline;
}

/* -- CREATE RECIPE STYLES -- */

.createRecipeCntr {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px solid #d7d8f7;
  transition: .2s all;
}

.recipeNameInput {
  position: relative;
  top: 3px;
  /* left: 15%; */
  width: 13rem;
  border: none;
  outline: 1px solid #d7d8f7;
  border-radius: 3px;
}


.createRecipeCntr .addIngrdtCntr {
  top: 7px;
  display: flex;
  /* align-items: center; */
  /* outline: 1px solid green; */
}

.createRecipeCntr .addIngrdtInput {
  height: 1rem;
  left: -3px;
  top: 1px;
}

.createRecipeCntr .addIngrdtBtn {
  position: relative;
  padding: 1px;
  left: 2px;
  /* top: 1px; */
  border-radius: 4px;
  background: #d7d8f7;
  cursor: pointer;
}

.createRecipeCntr .ingrdtsCntr {
  top: 12px;
  grid-template-rows: repeat(12, 25px);
  outline: 1px solid #d7d8f7;
  box-shadow: 1px 1px 4px #d7d8f7, -1px -1px 4px #d7d8f7;
  /* outline: 1px solid black; */
}

.createCnclBtns {
  display: flex;
  justify-content: space-between;
  width: 16rem;
  height: 3rem;
  /* outline: 1px solid black; */
}

.createBtn {
  position: relative;
  /* right: 20%; */
  top: 18px;
  width: 5rem;
  height: 1.3rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  color: #333333;
  padding: 2px;
  border-radius: 4px;
  background: #d7d8f7;
  cursor: pointer;
}

.createRecipeCntr .cancelBtn {
  left: 0;
  top: 17px;
  height: 1.3rem;
}

/* -- IND RECIPE STYLES -- */

.indRecipesCntr {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background: sred; */
  /* outline: 1px solid red; */
}

.indRecipesCntr::-webkit-scrollbar {
  width: 2px;
  background: none;
}

.indRecipeClsd, .indRecipeOpen, .indRecipeEdit {
  width: 17rem;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #d7d8f7, -2px -2px 4px #d7d8f7;
  outline: 2px solid #d7d8f7;
  cursor: pointer;
}

.indRecipeClsd:hover, .indRecipeOpen:hover {
  background: rgba(225, 220, 225, .2);
}

.indRecipeEdit { cursor: auto; }

.recipeName {
  position: relative;
  top: 7px;
  left: 10px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #333333;
  pointer-events: none;
}

.editBtn {
  position: relative;
  left: 38%;
  top: 15px;
  width: 3.5rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  color: #333333;
  padding: 2px;
  border-radius: 4px;
  background: #d7d8f7;
  cursor: pointer;
}

.editBtn:hover, .removeBtn:hover, .createBtn:hover {
  color: #fbf9ff;
  background: #b3b7ee;
  transition: .125s all;
}

.removeBtn {
  position: relative;
  left: 64%;
  bottom: 8px;
  width: 5rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  color: #333333;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.ingrdtsHeading {
  position: relative;
  left: 10px;
  bottom: 5px;
  width: 5rem;
  font-size: 15px;
  text-align: center;
  letter-spacing: 2px;
  /* outline: 1px solid red; */
}

.ingrdtsCntr {
  position: relative;
  /* left: 10px; */
  bottom: 10px;
  display: grid;
  grid-template-columns: repeat(3, 5.5rem);
  grid-template-rows: repeat(12, 20px);
  /* grid-row-gap: 10px; */
  height: 5rem;
  /* box-shadow: 1px 1px 1px #d7d8f7, -1px -1px 1px #d7d8f7; */
  overflow-y: scroll;
  overflow-x: hidden;
  /* outline: 1px solid black; */
}

.ingrdtsCntr::-webkit-scrollbar{
  width: 2px;
  background: none;
}

.indIngrdt {
  position: relative;
  left: 8px;
  top: -10px;
  width: 5rem;
  height: 1rem;
  font-size: 15px;
  text-align: center;
  color: #333333;
  /* outline: 1px solid black; */
}

.addIngrdtCntr {
  position: relative;
  display: flex;
  bottom: 5px;

}

.addIngrdtInput {
  position: relative;
  left: 10px;
  font-size: 13px;
  border: none;
  padding: 2px 4px;
  outline: 1px solid #e2dfdf;
  border-radius: 5px;
}

.addIngrdtBtn {
  position: relative;
  left: 5%;
  /* bottom: 8px; */
  width: 3rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  color: #333333;
  padding: 3px;
  border-radius: 4px;
  background: #d7d8f7;
  cursor: pointer;
}

.indRecipeEdit .ingrdtsCntr {
  top: 5px;
  left: 6px;
  width: 16.3rem;
  grid-template-columns: repeat(3, 5.35rem);
  grid-template-rows: repeat(12, 25px);
  outline: 1px solid #d7d8f7;
  /* box-shadow: 1px 1px 2px #d7d8f7, -1px -1px 2px #d7d8f7; */
}

.indIngrdtAdd {
  position: relative;
  left: 5px;
  top: 5px;
  height: 1.2rem;
  width: 4.5rem; 
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  padding: 0px 3px;  
  background: rgba(226, 223, 223, .5);
  border-radius: 5px;
}

.indIngrdtAdd p {
  position: relative;
  left: 2px;
  bottom: 11px;
  height: 13px;
  width: 13px;
  line-height: 14px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: darkred;
  padding: 1px;
  /* outline: 1px solid black; */
  border-radius: 5px;
  cursor: pointer;
}

.indIngrdtAdd p:hover {
  background: #fbf9ff;
  /* color: red; */
}

.confirmBtn {
  position: relative;
  left: 15%;
  top: 15px;
  width: 5rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  color: #333333;
  padding: 2px;
  border-radius: 4px;
  background: #d7d8f7;
  cursor: pointer;
}

.confirmBtn:hover, .cancelBtn:hover, .addIngrdtBtn:hover {
  color: #fbf9ff;
  background: #b3b7ee;
  transition: .125s all;
}

.cancelBtn {
  position: relative;
  left: 52%;
  bottom: 8px;
  width: 5rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  color: #333333;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
}


@media screen and (min-width: 600px) {
  .mainHeader {
    height: 3.2rem;
  }

  .appHeading {
    top: -6px;
    left: 1rem;
    font-size: 22px;
  }

  .searchBtnClsd {
    font-size: 22px;
    right: 1.1rem;
  }

  .searchbarCntr {
    height: 1.6rem;
    width: 20rem;
    right: 1rem;
  }

  .searchbar {
    /* outline: 1px solid black; */
    left: 8px;
    bottom: 13px;
    width: 16rem;
    font-size: 15px;
  }

  .searchBtn {
    left: 24px;
    bottom: 3px;
    font-size: 22px;
    padding: 5px 10px 5px 5px;
  }

  .createRecipeBtn, .backBtn { font-size: 18px; }

  .recipeNameInput {
    top: 5px;
    width: 16rem;
    height: 1.1rem;
    padding: 2px 5px;
  }

  .createRecipeCntr .addIngrdtCntr { 
    top: 9px;
    grid-template-rows: repeat(12, 25px);
  }

  .createRecipeCntr .indIngrdtAdd {
    left: 6px;
  }

  .createRecipeCntr .addIngrdtInput {
    height: 1.1rem;
    width: 12rem;
    padding: 2px 5px; 
  }

  .createRecipeCntr .addIngrdtBtn {
    letter-spacing: 4px;
    padding: 2px 6px;
  }

  .createRecipeCntr .ingrdtsCntr { top: 14px;}

  .createCnclBtns { 
    height: 3.2rem;
    width:  17rem;
  }

  .createBtn {
    top: 20px;
    height: 1.4rem;
    font-size: 17px;
  }

  .createRecipeCntr .cancelBtn {
    top: 20px;
    height: 1.4rem;
  }

  .indRecipeClsd, .indRecipeOpen, .indRecipeEdit {
    width: 20rem;
  }

  .recipeName {
    font-size: 23px;
  }

  .editBtn {
    left: 37%;
    width: 4.2rem;
    font-size: 18px;
  }

  .removeBtn {
    bottom: 10.5px;
    width: 5.5rem;
    font-size: 18px;
  }

  .ingrdtsHeading {
    bottom: 8px;
    font-size: 17px;
  }

  .ingrdtsCntr {
    height: 5.5rem;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(12, 25px);
  }

  .indIngrdt {
    font-size: 17px;
    left: 20px;
    /* outline: 1px solid black; */
  }

  .addIngrdtInput {
    font-size: 15px
  }

  .addIngrdtBtn {
    width: 4rem;
    letter-spacing: 4px;
  }

  .indRecipeEdit .ingrdtsCntr {
    left: 10px;
    width: 18.7rem;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(12, 27px);
  }

  .indIngrdtAdd {
    left: 9px;
    width: 5rem;
    font-size: 14px;
  }

  .indIngrdtAdd p {
    font-size: 14px;
  }

  .confirmBtn, .cancelBtn {
    left: 11%;
    width: 6.2rem;
    font-size: 18px;
  }

  .cancelBtn {
    left: 57%;
    bottom: 10.5px;
  }
}


@media screen and (min-width: 850px) {
  .mainHeader {
    height: 3.8rem;
  }

  .appHeading {
    top: -8px;
    left: 3rem;
    font-size: 26px;
  }

  .searchBtnClsd {
    font-size: 26px;
    right: 3.5rem;
    top: 18px;
  }

  .searchbarCntr {
    height: 1.7rem;
    width: 25rem;
    right: 3rem;
    top: 20px;
  }

  .searchbar {
    /* outline: 1px solid black; */
    left: 8px;
    bottom: 18px;
    width: 20rem;
    font-size: 17px;
  }

  .searchBtn {
    left: 33px;
    bottom: 5px;
    font-size: 24px;
    padding: 7px 12px 7px 7px;
  }

  .createRecipeBtn, .backBtn { font-size: 22px; }

  .recipeNameInput {
    top: 7px;
    width: 18rem;
    height: 1.4rem;
    font-size: 15px;
    padding: 2px 6px;
  }

  .createRecipeCntr .addIngrdtCntr { 
    top: 12px;
  }

  .createRecipeCntr .indIngrdtAdd {
    left: 6px;
  }

  .createRecipeCntr .addIngrdtInput {
    height: 1.4rem;
    width: 15rem;
    padding: 2px 6px; 
  }

  .createRecipeCntr .addIngrdtBtn {
    letter-spacing: 5px;
    font-size: 18px;
    padding: 2px 6px;
  }

  .createRecipeCntr .ingrdtsCntr { top: 20px;}

  .createCnclBtns { 
    height: 4rem;
    width:  18rem;
  }

  .createBtn {
    top: 28px;
    height: 1.6rem;
    width: 6rem;
    font-size: 19px;
  }

  .createRecipeCntr .cancelBtn {
    top: 28px;
    height: 1.6rem;
    width: 6rem;
    font-size: 19px;
  }

  .indRecipeClsd, .indRecipeOpen, .indRecipeEdit {
    width: 25rem;
  }

  .recipeName {
    letter-spacing: 5px;
    font-size: 28px;
  }

  .editBtn {
    left: 37%;
    width: 5rem;
    font-size: 20px;
  }

  .removeBtn {
    bottom: 13px;
    width: 6.2rem;
    font-size: 20px;
  }

  .ingrdtsHeading {
    bottom: 8px;
    font-size: 19px;
    letter-spacing: 3px;
  }

  .ingrdtsCntr {
    height: 7rem;
    grid-template-columns: repeat(4, 6.2rem);
    grid-template-rows: repeat(12, 25px);
    /* outline: 1px solid black; */
  }

  .indIngrdt {
    font-size: 17px;
    left: 8px;
    letter-spacing: 1px;
    /* outline: 1px solid black; */
  }

  .addIngrdtInput {
    font-size: 17px
  }

  .addIngrdtBtn {
    width: 4.5rem;
    font-size: 17px;
    letter-spacing: 4px;
  }

  .indRecipeEdit .ingrdtsCntr {
    left: 5px;
    width: 24.4rem;
    grid-template-columns: repeat(4, 6.15rem);
    grid-template-rows: repeat(12, 27px);
  }

  .indIngrdtAdd {
    left: 2px;
    width: 5.3rem;
    font-size: 15px;
  }

  .indIngrdtAdd p {
    font-size: 14px;
  }

  .confirmBtn, .cancelBtn {
    left: 11%;
    width: 6.7rem;
    font-size: 20px;
  }

  .cancelBtn {
    left: 57%;
    bottom: 13px;
  }
}

@media screen and (min-width: 1300px) {
  .mainHeader {
    height: 4.2rem;
  }

  .appHeading {
    top: -11px;
    left: 2.6rem;
    font-size: 30px;
    letter-spacing: 5px;
  }

  .searchBtnClsd {
    font-size: 30px;
    right: 3.6rem;
    top: 18px;
  }

  .searchbarCntr {
    height: 2rem;
    width: 30em;
    right: 3rem;
    top: 20px;
  }

  .searchbar {
    /* outline: 1px solid black; */
    left: 8px;
    bottom: 26px;
    width: 24rem;
    font-size: 20px;
  }

  .searchBtn {
    left: 37px;
    bottom: 8px;
    font-size: 30px;
    padding: 10px 15px 10px 10px;
  }

  .createRecipeBtn, .backBtn { 
    font-size: 26px;
    letter-spacing: 5px;
  }

  .recipeNameInput {
    top: 10px;
    width: 25rem;
    height: 1.8rem;
    font-size: 18px;
    padding: 2px 10px;
  }

  .createRecipeCntr .addIngrdtCntr { 
    top: 17px;
  }

  .createRecipeCntr .indIngrdtAdd {
    left: 6px;
  }

  .createRecipeCntr .addIngrdtInput {
    height: 1.8rem;
    width: 22rem;
    font-size: 18px;
    padding: 2px 8px; 
  }

  .createRecipeCntr .addIngrdtBtn {
    letter-spacing: 5px;
    font-size: 22px;
    padding: 2px 8px;
  }

  .createRecipeCntr .ingrdtsCntr {
    top: 26px;
    height: 12rem;
    grid-template-rows: repeat(12, 35px);
  }

  .createCnclBtns { 
    height: 5.5rem;
    width:  24rem;
  }

  .createBtn, .createRecipeCntr .cancelBtn{
    top: 40px;
    height: 2rem;
    width: 8rem;
    font-size: 23px;
  }

  .indRecipeClsd, .indRecipeOpen, .indRecipeEdit {
    width: 38rem;
  }

  .recipeName {
    letter-spacing: 7px;
    font-size: 30px;
  }

  .editBtn {
    left: 48%;
    width: 7rem;
    font-size: 24px;
  }

  .removeBtn {
    left: 72%;
    bottom: 18px;
    width: 7.5rem;
    font-size: 24px;
  }

  .ingrdtsHeading {
    bottom: 8px;
    font-size: 21px;
    letter-spacing: 4px;
  }

  .ingrdtsCntr {
    height: 10rem;
    grid-template-columns: repeat(4, 9rem);
    grid-template-rows: repeat(12, 34px);
    /* outline: 1px solid black; */
  }

  .indIngrdt {
    font-size: 18px;
    left: 35px;
    letter-spacing: 2px;
    /* outline: 1px solid black; */
  }

  .addIngrdtInput {
    font-size: 22px;
    width: 23rem;
    left: 20px;
  }

  .addIngrdtBtn {
    width: 5.2rem;
    font-size: 22px;
    letter-spacing: 4px;
    left: 35px;
  }

  .indRecipeEdit .ingrdtsCntr {
    left: 22px;
    width: 35rem;
    grid-template-columns: repeat(4, 8.5rem);
    grid-template-rows: repeat(12, 35px);
  }

  .indIngrdtAdd {
    left: 15px;
    top: 10px;
    width: 7rem;
    height: 1.4rem;
    font-size: 18px;
  }

  .indIngrdtAdd p {
    left: 10px;
    font-size: 15px;
  }

  .confirmBtn, .cancelBtn {
    left: 15%;
    top: 20px;
    width: 8.5rem;
    font-size: 25px;
  }

  .cancelBtn {
    left: 61.5%;
    top: -12px;
    bottom: 23px;
  }
}