@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

body {
  margin: 0;
}

.container {
  font-family: 'Lato';
  display: flex;
  flex-direction: column;
}

/* -- NAVBAR STYLES -- */

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: 1px solid #b3b7ee;
}

.mainHeader {
  display: flex;
  height: 2.7rem;
  justify-content: space-between; 
  outline: 1px solid #d7d8ff;
}

.appHeading {
  position: relative;
  left: .5rem;
  /* outline: 1px solid black; */
  color: #b3b7ee;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.searchBtnClsd {
  position: relative;
  right: .6rem;
  top: 1rem;
  font-size: 20px;
  /* outline: 1px solid black; */
  color: #b3b7ee;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.searchBtnClsd:active {
  background: #d7d8f7;
  transition: .6s ease-in;
}

.searchbarCntr {
  position: relative;
  top: 1.05rem;
  right: .6rem;
  height: 1.4rem;
  outline: 1px solid #d7d8f7;
  border-radius: 10px;
  overflow: hidden;
}

.searchbar {
  position: relative;
  bottom: 10px;
  left: 4px;
  outline: none;
  border: none;
}

.searchbar:active {
  outline: none;
  border: none;
}

.searchBtn {
  position: relative;
  bottom: 2px;
  /* right: 1px; */
  outline: 1px solid #d7d8f7;
  color: #b3b7ee;
  font-size: 20px;
  padding: 3px 5px 3px 3px;
  cursor: pointer;
}

.searchBtn:hover {
  background: #d7d8f7;
}

.createRecipeBtn {
  position: relative;
  color: #b3b7ee;
  font-weight: 600;
  text-align: center;
  padding: 1px;
  letter-spacing: 2px;
  cursor: pointer;
}

.createRecipeBtn:hover {
  text-decoration: underline;
}

/* -- IND RECIPE STYLES -- */

.indRecipesCntr {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background: sred; */
  /* outline: 1px solid red; */
}

.indRecipesCntr::-webkit-scrollbar {
  width: 2px;
  background: none;
}

.indRecipeClsd {
  width: 17rem;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #d7d8f7, -2px -2px 4px #d7d8f7;
}

.recipeName {
  position: relative;
  top: 7px;
  left: 10px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #333333;
}

.editBtn {
  position: relative;
  left: 38%;
  top: 15px;
  width: 3.5rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  color: #333333;
  padding: 2px;
  border-radius: 4px;
  background: #d7d8f7;
  cursor: pointer;
}

.editBtn:hover {
  color: #fbf9ff;
  background: #b3b7ee;
  transition: .125s all;
}

.removeBtn {
  position: relative;
  left: 64%;
  bottom: 8px;
  width: 5rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  color: #333333;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.removeBtn:hover {
  color: #fbf9ff;
  background: #b3b7ee;
  transition: .125s all;
}
